<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main role="main" class="inner cover">
      <!-- Landing  -->
      <%- include('../partials/landing'); %>

      <!-- Headshot & Bio -->
      <%- include('../partials/bio'); %>

      <!-- Tech Stack -->
      <%- include('../partials/stack'); %>

      <!-- Brewing -->
      <%- include('../partials/brewing'); %>
    </main>
    <!-- Nav Pills -->
    <%- include('../partials/pills'); %>

    <!-- Footer -->
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
